<ion-content [fullscreen]="true">
  <section class="contato-page-background mt-5">
    <ion-row class="h-100 row-contato-card">
      <ion-col size="12" sizeMd="8" sizeLg="4">
        <ion-card class="contato-card py-3">
          <ion-card-header>
            <ion-card-title>CONTATO</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero veniam repudiandae nam accusamus quis aliquam! Hic veritatis vitae, illum eos fugiat alias odit ipsa veniam. Rem soluta sunt adipisci alias.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt iusto illum amet dolore commodi! Laudantium nam, sint a dolores, officiis ex, autem aliquam quis perspiciatis similique molestias inventore deserunt odio.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum veritatis eveniet laboriosam perspiciatis earum voluptatem, ut dolore unde iusto amet, dignissimos, voluptatum cum. Praesentium incidunt nesciunt, impedit recusandae officia at!
            <br><br><br>
            99999-9999
            <br>
            3333-3333
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </section>
  <app-footer></app-footer>
</ion-content>
