<ion-footer>
  <ion-row class="p-4">
    <ion-col offsetLg="2">
      <h4>NOSSOS CONTATOS</h4>
      <br>
      <p>(41) 99999-9999</p>
      <br>
      <p>contato@hotel.com.br</p>
    </ion-col>
    <ion-col>
      <h4>NAVEGAÇÃO</h4>
      <ul>
        <li>HOME</li>
        <li>QUARTOS</li>
        <li>PROMOÇÕES</li>
        <li>SOBRE</li>
        <li>CONTATOS</li>
      </ul>
    </ion-col>
    <ion-col>
      <ion-button color="light">RESERVAR AGORA</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="botton-footer p-2 text-sm-center">
    <ion-col sizeXs="12" sizeSm="6">
      <span>© 2022 Resort. All rights reserved</span>
    </ion-col>
    <ion-col sizeXs="12" sizeSm="6">
      <span>Política de Privacidade</span>
    </ion-col>
  </ion-row>
</ion-footer>