.item-nav-desk {
    background: #F0F0F5;
}

ion-title {
    font-weight: 700;
    color: #000;
}

.icon-selector {
    display: inline-block;
    vertical-align: middle;
}
   
.text{
    display: inline-block;
    vertical-align: middle;
}
