<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row class="ion-padding-horizontal" *ngIf="userS.user !== 'admin'">
      <ion-col class="h-100 ion-align-self-center">
        <ion-img
          src="assets/icon/LOGO DO SITE.jpg"
          class="logo-img ion-float-start cursor-pointer"
          [routerLink]="['/']"
        ></ion-img>
      </ion-col>
      <ion-col
        class="h-100 ion-align-self-center item-nav-desk ion-hide-lg-down"
      >
        <ion-title class="text-center cursor-pointer" [routerLink]="['/']"
          >Home</ion-title
        >
      </ion-col>
      <ion-col
        class="h-100 ion-align-self-center item-nav-desk ion-hide-lg-down"
      >
        <ion-title
          class="text-center cursor-pointer"
          [routerLink]="['/quartos']"
          >Acomodações</ion-title
        >
      </ion-col>
      <!-- <ion-col
        class="h-100 ion-align-self-center item-nav-desk ion-hide-lg-down"
      >
        <ion-title class="text-center cursor-pointer" [routerLink]="['/promocoes']">Promoções</ion-title>
      </ion-col> -->
      <ion-col
        class="h-100 ion-align-self-center item-nav-desk ion-hide-lg-down"
      >
        <ion-title class="text-center cursor-pointer" [routerLink]="['/sobre']">Estrutura</ion-title>
      </ion-col>
      <ion-col
        class="h-100 ion-align-self-center item-nav-desk ion-hide-lg-down"
      >
        <ion-title class="text-center cursor-pointer" [routerLink]="['/contato']">Contato</ion-title>
      </ion-col>
      <ion-col class="ion-text-end h-100 ion-align-self-center">
          <ion-button id="trigger-button-hotel">{{hotelS.hotel?.name}}</ion-button>
          <ion-popover [isOpen]="popoverOpen" [arrow]="false" trigger="trigger-button-hotel">
            <ng-template>
              <ion-content>
                <div class="p-3" (click)="dismissPopover()">
                  <div *ngFor="let hotel of hoteis" class="cursor-pointer" (click)="setHotel(hotel)">
                    <span class="text">{{hotel.name}}</span>
                  </div>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
      </ion-col>
      <ion-col class="ion-text-end h-100 ion-align-self-center">
        <ion-button color="dark" [routerLink]="['/login']" *ngIf="!userS.user"
          >Login</ion-button
        >
        <div *ngIf="userS.user" id="trigger-button" class="cursor-pointer">
          <span class="text">Nome do Usuário </span>
          <ion-icon icon="person-circle-outline" class="icon-selector mx-2" style="font-size: 25px"></ion-icon>
          <ion-popover [isOpen]="popoverOpen" [arrow]="false" trigger="trigger-button">
            <ng-template>
              <ion-content>
                <div class="p-3" (click)="dismissPopover()">
                  <div class="cursor-pointer" [routerLink]="['/minha-conta']">
                    <ion-icon name="person-outline" class="icon-selector mx-2"></ion-icon>
                    <span class="text">Meu Perfil</span>
                  </div>
                  <div class="cursor-pointer" [routerLink]="['/minhas-reservas']">
                    <ion-icon name="calendar-outline" class="icon-selector mx-2"></ion-icon>
                    <span class="text">Minhas Reservas</span>
                  </div>
                  <hr>
                  <div class="cursor-pointer" (click)="logout()">
                    <ion-icon name="log-out-outline" class="icon-selector mx-2"></ion-icon>
                    <span class="text">Sair</span>
                  </div>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal" *ngIf="userS.user === 'admin'">
      <ion-col class="h-100 ion-align-self-center">
        <ion-img
          src="assets/icon/LOGO DO SITE.jpg"
          class="logo-img ion-float-start"
          [routerLink]="['/admin/dashboard']"
        ></ion-img>
      </ion-col>
      <ion-col
        class="h-100 ion-align-self-center item-nav-desk ion-hide-lg-down"
      >
        <ion-title class="text-center cursor-pointer" [routerLink]="['/admin/dashboard']"
          >Dashboard</ion-title
        >
      </ion-col>
      <ion-col
        class="h-100 ion-align-self-center item-nav-desk ion-hide-lg-down"
      >
        <ion-title
          class="text-center cursor-pointer"
          [routerLink]="['/admin/lista-quartos']"
          >Lista de Quartos</ion-title
        >
      </ion-col>
      <ion-col
        class="h-100 ion-align-self-center item-nav-desk ion-hide-lg-down"
      >
        <ion-title class="text-center cursor-pointer" [routerLink]="['/admin/lista-reservas']">Lista de Reservas</ion-title>
      </ion-col>
      <ion-col
        class="h-100 ion-align-self-center item-nav-desk ion-hide-lg-down"
      >
        <ion-title class="text-center cursor-pointer" [routerLink]="['/admin/lista-usuarios']">Usuários</ion-title>
      </ion-col>
      <ion-col class="ion-text-end h-100 ion-align-self-center">
        <ion-button id="trigger-button-hotel-2">{{hotelS.hotel?.name}}</ion-button>
        <ion-popover [isOpen]="popoverOpen" [arrow]="false" trigger="trigger-button-hotel-2">
          <ng-template>
            <ion-content>
              <div class="p-3" (click)="dismissPopover()">
                <div *ngFor="let hotel of hoteis" class="cursor-pointer" (click)="setHotel(hotel)">
                  <span class="text">{{hotel.name}}</span>
                </div>
              </div>
            </ion-content>
          </ng-template>
        </ion-popover>
    </ion-col>
      <ion-col class="ion-text-end h-100 ion-align-self-center">
        <div *ngIf="userS.user" id="trigger-button" class="cursor-pointer">
          <span class="text">Admin </span>
          <ion-icon icon="person-circle-outline" class="icon-selector mx-2" style="font-size: 25px"></ion-icon>
          <ion-popover [isOpen]="popoverOpen" [arrow]="false" trigger="trigger-button">
            <ng-template>
              <ion-content>
                <div class="p-3" (click)="dismissPopover()">
                  <hr>
                  <div class="cursor-pointer" (click)="logout()">
                    <ion-icon name="log-out-outline" class="icon-selector mx-2"></ion-icon>
                    <span class="text">Sair</span>
                  </div>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
