<app-header></app-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="my-5">
      <ion-col sizeXl="4" size="12" offsetXl="1" offset="0">
        <div class="img-quarto text-center">
          <img src="assets/images/quartos-1.png">
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="card-info ion-padding">
          <ion-row>
            <ion-col>
              <h4>QUARTO CASAL</h4>
            </ion-col>
            <ion-col>
              <ion-button class="float-end btn-reservar" color="danger">Reservar</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon color="danger" icon="people"></ion-icon> Acomoda 2 pessoas (incluindo até 1 criança).
              <span class="float-end"><span class="price">R$ 175,00</span><small> por noite</small></span>
              <br>
                  <span style="margin-left: 20px">1 cama de casal</span>
              <br>
              <ion-icon color="danger" icon="wifi"></ion-icon> <strong> Internet: </strong> Wi-Fi grátis.
              <br>
              <ion-icon color="danger" icon="tv"></ion-icon> <strong> Entretenimento: </strong> TV LCD 32 polegadas com canais a cabo.
              <br>
              <ion-icon color="danger" icon="fast-food"></ion-icon> <strong> Alimentação e bebida: </strong> serviço de quarto e minibar.
              <br> 
              <strong style="margin-left: 20px">Banheiro: </strong> banheiro privativo com chuveiro, produtos de toalete de cortesia e secador de cabelo.
              <br>
              <strong style="margin-left: 20px"> Conforto: </strong> ar-condicionado com controle de temperatura e serviço de arrumação diária.   
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="my-5">
      <ion-col sizeXl="4" size="12" offsetXl="1" offset="0">
        <div class="img-quarto text-center">
          <img src="assets/images/quartos-2.png">
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="card-info ion-padding">
          <ion-row>
            <ion-col>
              <h4>QUARTO CASAL</h4>
            </ion-col>
            <ion-col>
              <ion-button class="float-end btn-reservar" color="danger">Reservar</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon color="danger" icon="people"></ion-icon> Acomoda 2 pessoas (incluindo até 1 criança).
              <span class="float-end"><span class="price">R$ 175,00</span><small> por noite</small></span>
              <br>
                  <span style="margin-left: 20px">1 cama de casal</span>
              <br>
              <ion-icon color="danger" icon="wifi"></ion-icon> <strong> Internet: </strong> Wi-Fi grátis.
              <br>
              <ion-icon color="danger" icon="tv"></ion-icon> <strong> Entretenimento: </strong> TV LCD 32 polegadas com canais a cabo.
              <br>
              <ion-icon color="danger" icon="fast-food"></ion-icon> <strong> Alimentação e bebida: </strong> serviço de quarto e minibar.
              <br> 
              <strong style="margin-left: 20px">Banheiro: </strong> banheiro privativo com chuveiro, produtos de toalete de cortesia e secador de cabelo.
              <br>
              <strong style="margin-left: 20px"> Conforto: </strong> ar-condicionado com controle de temperatura e serviço de arrumação diária.   
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="my-5">
      <ion-col sizeXl="4" size="12" offsetXl="1" offset="0">
        <div class="img-quarto text-center">
          <img src="assets/images/quartos-3.png">
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="card-info ion-padding">
          <ion-row>
            <ion-col>
              <h4>QUARTO CASAL</h4>
            </ion-col>
            <ion-col>
              <ion-button class="float-end btn-reservar" color="danger">Reservar</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon color="danger" icon="people"></ion-icon> Acomoda 2 pessoas (incluindo até 1 criança).
              <span class="float-end"><span class="price">R$ 175,00</span><small> por noite</small></span>
              <br>
                  <span style="margin-left: 20px">1 cama de casal</span>
              <br>
              <ion-icon color="danger" icon="wifi"></ion-icon> <strong> Internet: </strong> Wi-Fi grátis.
              <br>
              <ion-icon color="danger" icon="tv"></ion-icon> <strong> Entretenimento: </strong> TV LCD 32 polegadas com canais a cabo.
              <br>
              <ion-icon color="danger" icon="fast-food"></ion-icon> <strong> Alimentação e bebida: </strong> serviço de quarto e minibar.
              <br> 
              <strong style="margin-left: 20px">Banheiro: </strong> banheiro privativo com chuveiro, produtos de toalete de cortesia e secador de cabelo.
              <br>
              <strong style="margin-left: 20px"> Conforto: </strong> ar-condicionado com controle de temperatura e serviço de arrumação diária.   
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="my-5">
      <ion-col sizeXl="4" size="12" offsetXl="1" offset="0">
        <div class="img-quarto text-center">
          <img src="assets/images/quartos-4.png">
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="card-info ion-padding">
          <ion-row>
            <ion-col>
              <h4>QUARTO CASAL</h4>
            </ion-col>
            <ion-col>
              <ion-button class="float-end btn-reservar" color="danger">Reservar</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon color="danger" icon="people"></ion-icon> Acomoda 2 pessoas (incluindo até 1 criança).
              <span class="float-end"><span class="price">R$ 175,00</span><small> por noite</small></span>
              <br>
                  <span style="margin-left: 20px">1 cama de casal</span>
              <br>
              <ion-icon color="danger" icon="wifi"></ion-icon> <strong> Internet: </strong> Wi-Fi grátis.
              <br>
              <ion-icon color="danger" icon="tv"></ion-icon> <strong> Entretenimento: </strong> TV LCD 32 polegadas com canais a cabo.
              <br>
              <ion-icon color="danger" icon="fast-food"></ion-icon> <strong> Alimentação e bebida: </strong> serviço de quarto e minibar.
              <br> 
              <strong style="margin-left: 20px">Banheiro: </strong> banheiro privativo com chuveiro, produtos de toalete de cortesia e secador de cabelo.
              <br>
              <strong style="margin-left: 20px"> Conforto: </strong> ar-condicionado com controle de temperatura e serviço de arrumação diária.   
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="my-5">
      <ion-col sizeXl="4" size="12" offsetXl="1" offset="0">
        <div class="img-quarto text-center">
          <img src="assets/images/quartos-5.png">
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="card-info ion-padding">
          <ion-row>
            <ion-col>
              <h4>QUARTO CASAL</h4>
            </ion-col>
            <ion-col>
              <ion-button class="float-end btn-reservar" color="danger">Reservar</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon color="danger" icon="people"></ion-icon> Acomoda 2 pessoas (incluindo até 1 criança).
              <span class="float-end"><span class="price">R$ 175,00</span><small> por noite</small></span>
              <br>
                  <span style="margin-left: 20px">1 cama de casal</span>
              <br>
              <ion-icon color="danger" icon="wifi"></ion-icon> <strong> Internet: </strong> Wi-Fi grátis.
              <br>
              <ion-icon color="danger" icon="tv"></ion-icon> <strong> Entretenimento: </strong> TV LCD 32 polegadas com canais a cabo.
              <br>
              <ion-icon color="danger" icon="fast-food"></ion-icon> <strong> Alimentação e bebida: </strong> serviço de quarto e minibar.
              <br> 
              <strong style="margin-left: 20px">Banheiro: </strong> banheiro privativo com chuveiro, produtos de toalete de cortesia e secador de cabelo.
              <br>
              <strong style="margin-left: 20px"> Conforto: </strong> ar-condicionado com controle de temperatura e serviço de arrumação diária.   
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="my-5">
      <ion-col sizeXl="4" size="12" offsetXl="1" offset="0">
        <div class="img-quarto text-center">
          <img src="assets/images/quartos-1.png">
        </div>
      </ion-col>
      <ion-col size="auto">
        <div class="card-info ion-padding">
          <ion-row>
            <ion-col>
              <h4>QUARTO CASAL</h4>
            </ion-col>
            <ion-col>
              <ion-button class="float-end btn-reservar" color="danger">Reservar</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon color="danger" icon="people"></ion-icon> Acomoda 2 pessoas (incluindo até 1 criança).
              <span class="float-end"><span class="price">R$ 175,00</span><small> por noite</small></span>
              <br>
                  <span style="margin-left: 20px">1 cama de casal</span>
              <br>
              <ion-icon color="danger" icon="wifi"></ion-icon> <strong> Internet: </strong> Wi-Fi grátis.
              <br>
              <ion-icon color="danger" icon="tv"></ion-icon> <strong> Entretenimento: </strong> TV LCD 32 polegadas com canais a cabo.
              <br>
              <ion-icon color="danger" icon="fast-food"></ion-icon> <strong> Alimentação e bebida: </strong> serviço de quarto e minibar.
              <br> 
              <strong style="margin-left: 20px">Banheiro: </strong> banheiro privativo com chuveiro, produtos de toalete de cortesia e secador de cabelo.
              <br>
              <strong style="margin-left: 20px"> Conforto: </strong> ar-condicionado com controle de temperatura e serviço de arrumação diária.   
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
