.card-info {
    background-color: #F0F0F5;
    border-radius: 5px;
    min-height: 279px;

    h4 {
        color: #E02041;
        font-weight: 700;
    }

    .price {
        font-size: 1.5rem;
    }

    img {
        height: 100%;
    }
}

.img-quarto {
    border-radius: 5px;
}

.btn-reservar {
    --border-radius: 20px;
    font-weight: 700;
}
