<ion-content [fullscreen]="true">
  <section class="minhasreservas-page-background">
    <ion-row class="h-100 row-minhasreservas-card mt-5">
      <ion-col size="12" sizeMd="10" sizeLg="8" sizeXl="6">
        <ion-card class="minhasreservas-card py-3">
          <ion-card-header>
            <ion-card-title>MINHAS RESERVAS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-accordion-group [multiple]="true">
              <ion-accordion *ngFor="let reserva of reservas; let i = index;" [value]="i+1">
                <ion-item slot="header">
                  <ion-label>Pedido: <span class="text-danger">#{{reserva.id}} </span> <span class="{{reserva.status === 'Pago' ? 'text-success' : 'text-info'}}"> Status: {{reserva.status}}</span></ion-label>
                </ion-item>
                <ion-list slot="content">
                  {{reserva.room.name}} - Preço total: R${{reserva.finalPrice}} - Status: {{reserva.status}}
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </section>
  <app-footer></app-footer>
</ion-content>