<ion-content [fullscreen]="true">
  <div class="container mt-5">
    <h4>RESERVAS</h4>
    <ion-row>
      <ion-col>
        <ion-card class="card-background-gray my-4">
          <ion-card-content>
            <!-- <ion-button>Adicionar Reserva</ion-button> -->
            <ion-card>
              <ion-card-content>
                <div class="table-responsive" *ngIf="reservas.length > 0">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Quarto</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Saída</th>
                        <!-- <th scope="col">Opções</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reserva of reservas">
                        <th scope="row">{{reserva.id}}</th>
                        <td>
                          {{reserva.user.firstName}} {{reserva.user.lastName}}
                        </td>
                        <td>{{reserva.room.name}}</td>
                        <td><strong>R$ {{reserva.finalPrice}}</strong></td>
                        <td><strong>{{reserva.status}}</strong></td>
                        <td>{{reserva.startDate | date:'shortDate'}}</td>
                        <td>{{reserva.endDate | date:'shortDate'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="reservas.length === 0">
                  <b>Nenhum registro encontrado.</b>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <app-footer></app-footer>
</ion-content>
