<ion-content [fullscreen]="true">
  <div class="container mt-5">
    <h4>USUÁRIOS CADASTRADOS</h4>
    <ion-row>
      <ion-col>
        <ion-card class="card-background-gray my-4">
          <ion-card-content>
            <ion-button>Adicionar Usuário</ion-button>
            <ion-card>
              <ion-card-content>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">CPF</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Estado</th>
                        <th scope="col">País</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users">
                        <th scope="row">
                          {{user.firstName}} {{user.lastName}}
                        </th>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{user.cpf}}</td>
                        <td>{{user.addressStreet}}, {{user.addressNumber}}</td>
                        <td>{{user.addressCity}}</td>
                        <td>{{user.addressDistrict }}</td>
                        <td>{{user.addressCountry}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <app-footer></app-footer>
</ion-content>
