<ion-app>
  <app-header></app-header>
  <ion-split-pane contentId="main-content" class="mt-4">
    <ion-menu contentId="main-content" type="overlay" class="ion-hide-lg-up">
      <ion-content>
        <ion-list id="pages-list">
          <ion-list-header>Motor de Reservas</ion-list-header>
          <ion-note>Equipe TCC</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of userS.pagesMenu; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" class="mt-4"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
