<app-header></app-header>

<ion-content [fullscreen]="true">
  <section class="cadastro-page-background">
    <ion-row class="h-100 row-cadastro-card mt-5">
      <ion-col size="12" sizeMd="10" sizeLg="8" sizeXl="6">
        <ion-card class="cadastro-card py-3">
          <ion-row>
            <ion-col size="12" sizeMd="6">
              <ion-card-header>
                <ion-card-title>CADASTRO</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                <ion-input placeholder="Endereço de E-mail" class="my-4"></ion-input>
                <ion-input placeholder="Nome Completo" class="mb-4"></ion-input>
                <ion-input placeholder="CPF" class="mb-4"></ion-input>
                <ion-input placeholder="Data de Nascimento" class="mb-4"></ion-input>
                <ion-input placeholder="Senha" class="mb-4"></ion-input>
                <ion-input placeholder="Confirmação da senha" class="mb-4"></ion-input>
                <ion-note class="cursor-pointer">
                  Ao fazer login ou criar uma conta, você concorda com nossos
                  <span class="text-blue cursor-pointer">Termos e Condições</span> e <span class="text-blue cursor-pointer">Declaração de Privacidade</span>
                </ion-note>
                <ion-button color="danger" class="my-3">CADASTRAR</ion-button>
              </ion-card-content>
            </ion-col>
            <ion-col size="12" sizeLg="6">
              <ion-card-header>
                <ion-text><span class="text-blue cursor-pointer">GUIAS DE VIAGEM</span> | <span class="text-blue cursor-pointer">ÍNDICE DO SITE</span></ion-text>
              </ion-card-header>
            
              <ion-card-content>
                <ul class="text-uppercase text-start mt-4 mb-5 text-dark">
                  <li>Suporte e perguntas frequentes</li>
                  <li>Termos de uso e privacidade</li>
                  <li>Sobre nós</li>
                  <li>Trabalhe conosco</li>
                  <li>Cadastrar-se como um hotel</li>
                </ul>
                <ion-text class="text-uppercase small">
                  * alguns hotéis exigem que o cancelamento seja feito mais de 24 horas antes do check-in. veja mais detalhes no site.
                  <br><br>
                  © 2022 (NOME DO SITE) todos os direitos reservados.
                  <br><br>
                  (nome do site) e o logotipo são marcas registradas e/ou de serviço da (nome do site). as demais marcas registradas mencionadas aqui são propriedade  de seus respectivos proprietários.
                </ion-text>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </section>
  <app-footer></app-footer>
</ion-content>