<ion-content [fullscreen]="true">
  <div class="container mt-5">
    <h4>DASHBOARD</h4>
    <ion-row>
      <ion-col>
        <ion-card class="card-background-gray my-4">
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-card>
                  <ion-card-header>{{quartos.length}}</ion-card-header>
                  <ion-card-content>Acomodações Cadastradas</ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card>
                  <ion-card-header>{{reservas.length}}</ion-card-header>
                  <ion-card-content>Quantitade Total de Reservas</ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card>
                  <ion-card-header>{{checkins.length}}</ion-card-header>
                  <ion-card-content>Check-in's hoje</ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12" sizeMd="8">
        <ion-card>
          <ion-card-header>Acomodações Reservadas por Mês</ion-card-header>
          <ion-card-content>
            <img src="assets/images/dash-grafico.jpg" />
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <ion-card>
          <ion-card-header>% Acomodações Reservadas</ion-card-header>
          <ion-card-content class="text-center">
            <img src="assets/images/dash-grafico-2.jpg" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
    <div class="mt-5">
      <h4>INFORMAÇÕES DO HOTEL</h4>
      <ion-row>
        <ion-col>
          <ion-card class="card-background-gray my-4">
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <p style="color: black">
                    <b>Nome:</b> {{hotelS.hotel.name}}
                    <br><br>
                    <b>Endereço:</b> {{hotelS.hotel.addressStreet}}, {{hotelS.hotel.addressNumber}} <br> {{hotelS.hotel.addressDistrict}}, {{hotelS.hotel.addressCity}} - {{hotelS.hotel.addressCountry}}
                    <br>
                    <b>CEP:</b> {{hotelS.hotel.addressCep}}
                    <br><br>
                    <b>Telefone:</b> {{hotelS.hotel.phone}}
                    <br><br>
                    <b>Email:</b> {{hotelS.hotel.email}}
                    <br><br>
                    <b>CNPJ:</b> {{hotelS.hotel.cnpj}}
                  </p>
                </ion-col>
                <ion-col *ngIf="userS.userInfo.role.name === 'Admin'">
                  <ion-button (click)="setModalHotelOpen(true)">Editar Informações do Hotel</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-modal [isOpen]="isModalHotelOpen" [backdropDismiss]="false">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Editar Informações do Hotel</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setModalHotelOpen(false)">Fechar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-row>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">Nome</ion-label>
                    <ion-input placeholder="Digite o nome" [(ngModel)]="formEditHotel.name"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">Rua</ion-label>
                    <ion-input placeholder="Digite a rua" [(ngModel)]="formEditHotel.addressStreet"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">Número</ion-label>
                    <ion-input type="number" placeholder="Digite o número" [(ngModel)]="formEditHotel.addressNumber"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">Bairro</ion-label>
                    <ion-input placeholder="Digite o bairro" [(ngModel)]="formEditHotel.addressDistrict"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">Cidade</ion-label>
                    <ion-input placeholder="Digite a cidade" [(ngModel)]="formEditHotel.addressCity"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">País</ion-label>
                    <ion-input placeholder="Digite o país" [(ngModel)]="formEditHotel.addressCountry"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">CEP</ion-label>
                    <ion-input placeholder="Digite o CEP" [(ngModel)]="formEditHotel.addressCep"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">Telefone</ion-label>
                    <ion-input placeholder="Digite o telefone" [(ngModel)]="formEditHotel.phone"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">E-mail</ion-label>
                    <ion-input placeholder="Digite o e-mail" [(ngModel)]="formEditHotel.email"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                  <ion-item>
                    <ion-label position="floating">CNPJ</ion-label>
                    <ion-input placeholder="Digite o CNPJ" [(ngModel)]="formEditHotel.cnpj"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button (click)="editarHotel()">Salvar Informações</ion-button>
                </ion-col>
              </ion-row>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-row>
    </div>
    <h4 class="mt-5 mb-3">ÚLTIMAS RESERVAS</h4>
    <ion-row>
      <ion-col>
        <ion-card class="card-background-gray my-4">
          <ion-card-content>
            <ion-card>
              <ion-card-content>
                <div class="table-responsive" *ngIf="reservas.length > 0">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Quarto</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reserva of reservas">
                        <th scope="row">{{reserva.id}}</th>
                        <td>
                          {{reserva.user.firstName}} {{reserva.user.lastName}}
                        </td>
                        <td>{{reserva.room.name}}</td>
                        <td><strong>R$ {{reserva.finalPrice}}</strong></td>
                        <td><strong>{{reserva.status}}</strong></td>
                        <td>{{reserva.startDate | date:'shortDate'}}</td>
                        <td>{{reserva.endDate | date:'shortDate'}}</td>
                        <!-- <td>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2"
                            name="pencil"
                          ></ion-icon>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2"
                            name="information-circle-outline"
                          ></ion-icon>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2"
                            name="log-out-outline"
                          ></ion-icon>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2 logout"
                            name="log-out-outline"
                          ></ion-icon>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2"
                            name="calendar-clear-outline"
                          ></ion-icon>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="reservas.length === 0">
                  <b>Nenhum registro encontrado.</b>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <app-footer></app-footer>
</ion-content>
