<ion-content [fullscreen]="true">
  <div class="container mt-5">
    <h4>DASHBOARD</h4>
    <ion-row>
      <ion-col>
        <ion-card class="card-background-gray my-4">
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-card>
                  <ion-card-header>{{quartos.length}}</ion-card-header>
                  <ion-card-content>Acomodações Cadastradas</ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card>
                  <ion-card-header>{{reservas.length}}</ion-card-header>
                  <ion-card-content>Quantitade Reservas</ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card>
                  <ion-card-header>{{quartosLivres.length}}</ion-card-header>
                  <ion-card-content>Acomodações Livres</ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card>
                  <ion-card-header>{{checkins.length}}</ion-card-header>
                  <ion-card-content>Check-in's hoje</ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12" sizeMd="8">
        <ion-card>
          <ion-card-header>Acomodações Reservadas por Mês</ion-card-header>
          <ion-card-content>
            <img src="assets/images/dash-grafico.jpg" />
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" sizeMd="4">
        <ion-card>
          <ion-card-header>% Acomodações Reservadas</ion-card-header>
          <ion-card-content class="text-center">
            <img src="assets/images/dash-grafico-2.jpg" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
    <h4 class="mt-5 mb-3">ÚLTIMAS RESERVAS</h4>
    <ion-row>
      <ion-col>
        <ion-card class="card-background-gray my-4">
          <ion-card-content>
            <ion-card>
              <ion-card-content>
                <div class="table-responsive" *ngIf="reservas.length > 0">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Quarto</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Entrada</th>
                        <th scope="col">Saída</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let reserva of reservas">
                        <th scope="row">{{reserva.id}}</th>
                        <td>
                          {{reserva.user.firstName}} {{reserva.user.lastName}}
                        </td>
                        <td>{{reserva.room.name}}</td>
                        <td><strong>R$ {{reserva.finalPrice}}</strong></td>
                        <td><strong>{{reserva.status}}</strong></td>
                        <td>{{reserva.startDate | date:'shortDate'}}</td>
                        <td>{{reserva.endDate | date:'shortDate'}}</td>
                        <!-- <td>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2"
                            name="pencil"
                          ></ion-icon>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2"
                            name="information-circle-outline"
                          ></ion-icon>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2"
                            name="log-out-outline"
                          ></ion-icon>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2 logout"
                            name="log-out-outline"
                          ></ion-icon>
                          <ion-icon
                            style="font-size: 1.5rem"
                            class="mx-2"
                            name="calendar-clear-outline"
                          ></ion-icon>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="reservas.length === 0">
                  <b>Nenhum registro encontrado.</b>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <app-footer></app-footer>
</ion-content>
